/* Layout */
html {
    height: 100%;
}
.redagent-loading {
    background: url(../images/loading.gif) no-repeat center;
    height: 100%;
}
.redagent-loading #container > * {
    opacity: 0;
}
.colum-right {
    font-style: italic;
    color: #A0A0A0;
}
@media all and (max-width: 53.236em) {
    .yui3-redagent-display #cr-stage {
        width: auto !important;
        height: auto !important;
    }
    .yui3-redagent-display canvas  {
        width: 100% !important;
        position: relative !important;
    }
    .yui3-redagent-chat {
        display:none;
    }
    .redagent-menu .redagent-closebutton {
        top:0;
        left:0;
        margin: 0;
    }
}
/** Pages  styles */
#container {
    position: relative;
}
.redagent-page {
    position:absolute;
    left:0;
    right: 0;
    top: 0;
    padding: 20px 2em 0;
    z-index: 500;
    background: white;
}
.redagent-page-loading {
    min-height:95%;
    background: white url(../images/loading.gif) center no-repeat;
}
.redagent-cl {
    clear: both;
}
.redagent-page .redagent-spacer {
    line-height: 0em;
    margin: 3.3em 0;
    border-bottom: 1px solid #580000;
}
.redagent-date {
    margin-bottom: 0;
    font-weight: bold;
    line-height: 0.9em;
}
.redagent-content {
    margin-top: 2em;
    margin-bottom: 2em;
}
.redagent-page td {
    padding-right: 10px;
}
.redagent-page td a {
    font-style: normal;
}
/* Menu styles */
.redagent-menu {
    position: fixed;
    background: white;
    z-index: 501;
    width:100%;
}
.redagent-menu .cf {    
    padding: 0.6em 2em;
}
.redagent-menu-project {
    display: inline-block;  
    letter-spacing: normal; 
    word-spacing: normal;  
    vertical-align: top;  
    margin-top: 0px;
}
.redagent-menu-project a {
    padding: 0.1em 0.6em 0.1em 0.8em;
    text-decoration: none;
    margin: 0;
    float: left;
    display: inline-block;
}
.redagent-menu-project a:hover {
    background-color: darkgray;
    color: white;
}
.redagent-menu-project a.redagent-selected {
    color: inherit;
    background: #EDEDED;
    cursor: default;
}
.redagent-menu .redagent-closebutton {
    width: 46px;
    height: 28px;
    background: #580000 url(../images/back-22.png) center no-repeat;
    cursor: pointer;        
    float: left;
}
.redagent-menu .redagent-closebutton:hover {
    background-color: darkgray;
}

/* Contact page */
.redagent-page-projects {
    padding-top: 0;
}
/** Display style */
.redagent-page-contact {
    min-height: 570px;
    top: 2.8em;
}
.redagent-sendmail-button {
    display: block;
    text-align: center;
    widtH: 100%;
}
.redagent-sendmail-button .yui3-button {
    padding: 0.5em 3.7em 0.4em 5.2em;
    max-width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    /*text-transform: uppercase;*/
    background: #580000 url(../images/mail.png) 3.2em 13px no-repeat!important;
}
/** Display style */
.yui3-redagent-display #cr-stage {
    line-height: 0em;
    cursor: pointer;
}

/** Chat styles */
.yui3-redagent-chat textarea {
    width: 94.5%;
    border: 1px solid #580000;
    margin:0;
    padding: 5px 2.5%;
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}
.yui3-redagent-chat .yui3-scrollview-content ul {
    margin: 00;
}
.yui3-redagent-chat .yui3-scrollview-content li {
    padding: 0 0 .5em;
    font-size: 0.9em;
    color: #580000;
    list-style-type: none;
    text-align: left;
    line-height: 1.2em;
}
.yui3-redagent-chat .yui3-scrollview-content li.self {
    color: darkgray;
}

/* For IE 6/7 - needs a background color (above) to pick up events, and zoom, to fill the UL */
.yui3-redagent-chat .yui3-scrollview-content li {
    *zoom:1;
}

/* For IE7 - needs zoom, otherwise clipped content is not rendered */
.yui3-redagent-chat .yui3-scrollview-content ul {
    *zoom:1;
}

/* YUI 3 Buttons styles */
.yui3-skin-sam .yui3-button {
    color: white;
    background: #580000;
    border-radius: 0;
    padding-top: 0.7em;
    box-shadow: none;
}
.yui3-skin-sam .yui3-button:hover {
    background-color: darkgray !important;
}

/* Gallery slideshow styles */
.slideshow {
    position:relative !important;
    display:inline-block !important;
    max-width: 420px;
    width: 100%;
    min-height: 320px;
    overflow: hidden;
    /* min-height: 229px; */
}
.yui3-slideshow-content {
    position: relative;
}

.yui3-slideshow-content a {
    position: absolute;
}

/* Lazy loaded images styles */
.redagent-image {
    background: url(../images/loading.gif) center no-repeat;
    width: 100%;
    height: 110px;
    border: none;
}
