// @font-face {
//   font-family: "Din";
//   font-style: normal;
//   font-weight: normal;
//   src: url('../assets/fonts/din-regular-webfont.eot');
//   src: url('../assets/fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/din-regular-webfont.woff') format('woff'), url('../assets/fonts/din-regular-webfont.ttf') format('truetype'), url('../assets/fonts/din-regular-webfont.svg#dinregular') format('svg');
// }
@font-face {
  font-family: "Din";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url('../assets/fonts/din-light-webfont.eot');
  src: local("Din"), url('../assets/fonts/din-light-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/din-light-webfont.woff') format('woff'), url('../assets/fonts/din-light-webfont.ttf') format('truetype'), url('../assets/fonts/din-light-webfont.svg#din_lightregular') format('svg');
}

@font-face {
  font-family: "Din";
  font-style: normal;
  font-weight: bold;
  font-display: auto;
  src: url('../assets/fonts/din-bold-webfont.eot');
  src: local("Din"), url('../assets/fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/din-bold-webfont.woff') format('woff'), url('../assets/fonts/din-bold-webfont.ttf') format('truetype'), url('../assets/fonts/din-bold-webfont.svg#dinbold') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url('../assets/fonts/OpenSans-Light-webfont.eot');
  src: local("Open Sans"), url('../assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/OpenSans-Light-webfont.woff') format('woff'), url('../assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../assets/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../assets/fonts/OpenSans-Regular-webfont.eot');
  src: local("Open Sans"), url('../assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}
